.contact-me {
  padding: 50px 0;
  background: url('../assets/images/pexels-jeremy-müller-6444367.jpg') no-repeat center center fixed;
  background-size: cover;
}

.contact-details-subheading,
.follow-me-subheading {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #4A90E2;
  font-weight: bold;
}

.contact-details {
  margin-bottom: 30px;
}

.contact-details p {
  display: flex;
  align-items: center;
}

.contact-details p::before {
  content: url('../assets/icons/contact.png');
  margin-right: 10px;
}

.social-icons a {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.1);
}

/* ... rest of the styles ... */

  
  .social-icons img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  
  .contact-me-right {
    flex: 1;
    padding: 20px;
  }

  .contact-me-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
  }
  
  .contact-me-content {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-me-left {
    flex: 1;
    padding: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .contact-form button {
    padding: 10px 20px;
  }



  