.about-me {
    background-color: #212529;
    color: #fff;
    padding: 20px 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    
  }
  
  .about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-me-heading-container {
    text-align: center;
}

  .about-me-heading {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #28a846; /* Adjust the color and thickness as needed */
    display: inline-block;
    padding-bottom: 10px;
  }
  
  .about-me-subheading {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .about-me-subheading .highlight {
    color: #28a846;
  }
  
  .about-me-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-me-details {
    max-width: 50%;
    margin-top: 50px;
    border-left: 1px solid #818486;
    padding-left: 20px;
  }
  
  .about-me-details h2 {
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
    border-bottom: 1px solid #818486;
  }
  
  .about-me-details p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
    border-bottom: 1px solid #818486;
  }
  
  .about-me-details a {
    color: #fff;
    text-decoration: none;
  }
  
  .about-me-details .cv-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF6347;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .about-me-details .cv-button:hover {
    background-color: #FF7F50;
  }