.resume {
    background-image: url('./Nebula-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y; /* This will make the background image repeat vertically */
    color: #fff;
    padding: 20px 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding-top: 3%;
  }
  
  .resume-content {
    position: relative;
    z-index: 1;
  }
  
  .resume-heading {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .underline {
    position: relative;
    padding-bottom: 10px;
  }
  
  .underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  
  

  .resume-heading-container {
    text-align: center;
    margin-top: 5%; /* This will push the heading down */
  }
  
  .resume .vertical-timeline-element--work .vertical-timeline-element-icon .icon {
    background: #41a6cc;
    color: #fff;
  }
  
  .resume .vertical-timeline-element--education .vertical-timeline-element-icon .icon {
    background: #562360;
    color: #fff;
  }
  
  .resume .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-title {
    color: #FFFFFF !important; /* White color for the text */
    font-weight: bold; /* Bold font weight for the text */
  }
  
  .resume .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-subtitle {
    color: #FFFFFF !important; /* White color for the text */
    font-style: italic; /* Italic font style for the text */
  }
  
  .resume .vertical-timeline-element--education .vertical-timeline-element-content .vertical-timeline-element-title {
    color: #FFFFFF !important; /* White color for the text */
    font-weight: bold; /* Bold font weight for the text */
  }
  
  .resume .vertical-timeline-element--education .vertical-timeline-element-content .vertical-timeline-element-subtitle {
    color: #FFFFFF !important; /* White color for the text */
    font-style: italic; /* Italic font style for the text */
  }
  
  .resume .vertical-timeline-element-content .vertical-timeline-element-date {
    background: linear-gradient(to right,  #2f2f2f, #000000);
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .resume .vertical-timeline-element-content {
    background: linear-gradient(to right, #000428, #004e92);
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  }
  