.resume {
  background-image: url('./Nebula-background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  color: #fff;
  padding: 20px 50px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding-top: 3%;
}

.resume-container {
  max-width: 80%; /* Adjust as needed */
  margin: 0 auto; /* Centers the container */
}

@media (min-width: 768px) {
  .resume-container {
    max-width: 800px; /* Adjust as needed */
  }
}


.resume-heading {
  border: 2px solid #000000;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
}

.timeline {
  display: flex;
  justify-content: space-between;
}

.timeline-column {
  width: 45%; /* Adjust as needed */
}

.timeline-heading {
  /* Add styles for the 'Education' and 'Experience' headings */
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline-element {
  background: linear-gradient(to right, #000428, #004e92);
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.timeline-element-title {
  color: #FFFFFF;
  font-weight: bold;
}

.timeline-element-subtitle {
  color: #FFFFFF;
  font-style: italic;
}

.timeline-element-date {
  background: linear-gradient(to right,  #2f2f2f, #000000);
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: inline-block;
}
