.resume {
    background-image: url('./Nebula-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y; /* This will make the background image repeat vertically */
    color: #fff;
    padding: 20px 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }
  
  .resume-content {
    position: relative;
    z-index: 1;
    margin-top: 3%; /* This will push the heading down */
  }
  
  .resume-heading-container {
    text-align: center;
    margin-top: 5%; /* This will push the heading down */
  }
  
  .resume-heading {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #28a846; /* Adjust the color and thickness as needed */
    display: inline-block;
    padding-bottom: 10px;
  }
  
  .resume .vertical-timeline-element--work .vertical-timeline-element-icon .icon {
    background: #41a6cc;
    color: #fff;
  }
  
  .resume .vertical-timeline-element--education .vertical-timeline-element-icon .icon {
    background: #562360;
    color: #fff;
  }
  
  .resume .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-title {
    color: #FFFFFF !important; /* White color for the text */
    font-weight: bold; /* Bold font weight for the text */
  }
  
  .resume .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-subtitle {
    color: #FFFFFF !important; /* White color for the text */
    font-style: italic; /* Italic font style for the text */
  }
  
  .resume .vertical-timeline-element--education .vertical-timeline-element-content .vertical-timeline-element-title {
    color: #FFFFFF !important; /* White color for the text */
    font-weight: bold; /* Bold font weight for the text */
  }
  
  .resume .vertical-timeline-element--education .vertical-timeline-element-content .vertical-timeline-element-subtitle {
    color: #FFFFFF !important; /* White color for the text */
    font-style: italic; /* Italic font style for the text */
  }
  
  .resume .vertical-timeline-element-content .vertical-timeline-element-date {
    color: #ffffff; /* White color for the date */
    font-weight: bold; /* Bold font weight for the date */
    background-color: #212529; /* Dark grey background color for the date box */
    padding: 5px; /* Padding for the date box */
    border-radius: 5px; /* Rounded corners for the date box */
  }
  
  .resume .vertical-timeline-element-content {
    box-shadow: 0 0 0 1px #41a6cc, 0 0 0 3px #af7fd3; /* Blue and purple box shadow */
    background-color: #212529; /* Dark grey background color for the box */
  }
  